* {
  box-sizing: border-box;
}
.mainsec {
  display: flex;
  justify-content: space-around;
  margin: 0%;
  position: relative;
  background-color: rgb(235, 255, 255);
}
.mainsec img {
  width: 60px;
}
.mainsec #mainimg:hover {
  border: 4px solid blue;
}
.navigate {
  display: contents;
  justify-content: space-around;
}
.navigate a:hover {
  /*border: 1px solid black;
  border-radius: 6px;*/
  background-color: cornsilk;
  border-bottom: 4px solid blue;
  transition: all ease 0.2s;
}
#course_page_main_img:hover {
  transition: all ease 0.3s;
  border-top: 10px solid purple;
  border-bottom: 10px solid purple;
}
#course_page_main_img {
  width: 105%;
  height: 320px;
}
marquee {
  color: red;
}
body {
  background-color: rgb(212, 230, 245);
}
.course_detail_start {
  background-color: orange;
  border: 1px solid black;
  width: 680px;
  margin-left: 40px;
  float: right;
  padding: 0px 10px;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
}
.course_page_maindiv {
  display: flex;
}
#course_detail_head {
  text-align: center;
  text-decoration: underline dashed;
  font-weight: 900;
  font-style: italic;
}
#course_detail_para1,
#course_detail_para2 {
  font-size: 1em;
  font-weight: 600;
}
#course_detail_para1 {
  background-color: greenyellow;
  text-indent: 25px;
  text-align: justify;
  padding: 10px;
  border: 1.5px dotted blueviolet;
  outline: 1.5px ridge brown;
  outline-offset: 10px;
}
#course_detail_para2 {
  background-color: yellow;
  text-indent: 25px;
  text-align: justify;
  padding: 10px;
  border: 1.5px dotted blueviolet;
  outline: 1.5px ridge brown;
  outline-offset: 10px;
}
h3 {
  text-decoration: underline dashed;
  color: crimson;
  text-align: center;
}
.course_list li {
  color: maroon;
  text-transform: capitalize;
}
.course_list_div {
  border: 3px solid black;
  border-radius: 8px;
  width: 50%;
  background-color: antiquewhite;
}
#course_detail_ind_line {
  font-weight: 800;
  font-style: italic;
  color: brown;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1.3px 1.3px darkred;
}
.courses {
  display: flex;
}
.course_c {
  margin-left: 20px;
  border: 3px inset rosybrown;
  padding: 10px 0px 0px 10px;
  width: 60%;
}
.course_c img {
  width: 60px;
  height: 50px;
}
.course_cont_list {
  margin-left: 50px;

  margin-right: 20px;
}
.course_para_heads {
  text-decoration: underline dashed;
  margin-left: 10px;
  color: rgb(255, 50, 0);
}
.course_c_header {
  display: flex;
}
.commu_mem_name {
  color: red;
}
.commu_mem {
  display: flex;
}
.course_name_type1 {
  margin-left: 0px;
  display: flex;
}
.course_name_cont_type1 {
  margin-left: 20px;
  border: 3px groove burlywood;
}
.course_name_cont_type1 p {
  margin-left: 8px;
}
.course_name_type2 {
  margin-left: 0px;
  display: flex;
}
.course_name_cont_type2 {
  margin-right: 20px;
  border: 3px groove burlywood;
}
.course_name_cont_type2 p {
  margin-left: 20px;
}
#course_page_collaboration_gif {
  width: 350px;
  height: 300px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#final_line {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  text-shadow: 1.3px 1.3px 6px red;
  color: black;
}
footer {
  text-align: center;
  color: darkslateblue;
}
.collaboration_gifs_details {
  display: flex;
  margin-bottom: 15px;
  margin-right: 0px;
}
.collaboration_gif1_details {
  margin-right: 15px;
}
.collaboration_gif1_details p {
  text-shadow: 1.5px 1.5px yellow;
  color: red;
  border: 1.5px dashed burlywood;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;
}
