.maindiv {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  margin: 0px;
  border: 0px;
}
#mainimg {
  width: 90px;
}
.navigate {
  display: contents;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}
.navigate a img {
  width: 60px;
  margin-top: 15px;
}
.navigate a {
  align-items: center;
  justify-content: space-between;
}
#homeicon {
  width: 70px;
}
#mainhead {
  margin: 30px;
  margin-bottom: 0px;
  align-content: center;
}
h1 {
  margin-top: 0px;
  color: rgb(132, 0, 255);
  position: relative;
  text-align: center;
}
#centerimg {
  margin-left: 10px;
  width: 100%;
  margin-top: 0px;
  height: 350px;
  position: relative;
}
.content {
  display: flex;
  margin-left: 20px;
}
h3 {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.5em;
  text-align: center;
  border-left-style: solid;
  border-left-color: tomato;
  background-color: greenyellow;
  color: black;
  border-left-width: 10px;
  background-clip: content-box;
  outline: 3px solid orange;
  text-align: justify;
  padding: 5px;
}
p {
  justify-content: space-around;
  text-align: center;
}
footer img {
  float: right;
  width: 90px;
  margin-bottom: 0px;
  border-bottom: 0px;
}
#copyright {
  float: left;
  margin-left: 30px;
  margin-top: 50px;
}
h4 {
  justify-content: space-around;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  border: 5px solid cornflowerblue;
  border-radius: 8px;
  box-sizing: border-box;
  border-width: 5px;
}
body {
  background-color: rgb(247, 218, 228);
  box-sizing: border-box;
  background: url("edu_img_backgrnd.jfif") no-repeat bottom; /*this is a shorthand notation for the background property which includes the linear order of properties color,image,repeat,position,size*/
  background-size: 500px 50px;
}
.navigate a:hover {
  background-color: lime;
  transition: all ease 0.5s;
}
.centercont {
  color: rgb(56, 36, 170);
  font-style: italic;
  border-radius: 30px;
  border: 5px dotted rgb(167, 96, 167);
  width: 50%;
  margin-left: 50px;
  height: 40vh;
}
#queryline {
  color: red;
}

